body{
    background-color: rgb(18,18,19);
    color: white;
}

header{
    margin: auto;
    text-align: center;
    font-size: xx-large;
}


main a{
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

.center{
    margin: auto;
    width: 50%;
    position: relative;
    text-align: center;
    bottom: 20px;
}

hr{
    width: 50%;
    position: relative;
    bottom: 25px;
}

img{
    align-items: center;
    max-width: 150px;
    max-height: 100px;
}

